{
  "tabWidth": 4,
  "printWidth": 119,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.json", "*.yaml", "*.yml", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.html",
      "options": {
        "tabWidth": 2,
        "printWidth": 150
      }
    }
  ]
}
