dj-database-url
django-cors-headers
django<5
djangorestframework
drf-spectacular
jsonref
google-api-python-client
google-auth
gunicorn[setproctitle]
lxml
matplotlib
pillow
psycopg2
sentry-sdk
shortuuid
simplejson
yapw[perf]
