autopep8==1.4.4
awscli==1.18.59
botocore==1.16.9
cachetools==4.1.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
defusedxml==0.6.0
Django==2.2.3
django-cors-headers==3.0.2
django-tastypie==0.14.2
docutils==0.15.2
google-api-core==1.21.0
google-api-python-client==1.9.3
google-auth==1.18.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.9
infinity==1.4
intervals==0.8.1
jmespath==0.10.0
kiwisolver==1.2.0
lxml==4.5.1
matplotlib==3.3.0
numpy==1.19.1
oauthlib==3.1.0
odfpy==1.4.1
pandas==1.1.0
pika==1.1.0
Pillow==8.0.1
pkg-resources==0.0.0
protobuf==3.12.2
psycopg2-binary==2.8.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pyparsing==2.4.7
python-dateutil==2.8.0
python-docx==0.8.10
python-mimeparse==1.6.0
pytz==2019.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==3.4.2
s3transfer==0.3.3
scipy==1.5.2
seaborn==0.10.1
shortuuid==1.0.1
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
uritemplate==3.0.1
urllib3==1.25.9
