dj-database-url
django-cors-headers
django<4
djangorestframework
jsonref
google-api-python-client
google-auth
gunicorn[setproctitle]
lxml
matplotlib
pillow
psycopg2
pyyaml
sentry-sdk
shortuuid
simplejson
uritemplate
yapw
