dj-database-url
django<4
django-cors-headers
djangorestframework
# 0.14.3 is not compatible with Django 3.2.
-e git+https://github.com/django-tastypie/django-tastypie.git@ac18543860a1deb88ed83c6d2eecad02a525419d#egg=django-tastypie
google-api-python-client
google-auth
gunicorn[setproctitle]
lxml
matplotlib
pika
pillow
psycopg2
sentry-sdk
shortuuid
simplejson
uritemplate
