@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap&subset=latin-ext');

$ok_color: #B9C504;
$failed_color: #D0021B;
$na_color: #9B9B9B;
$na_light_color: #d8d8d8;
$na_bar_color: #EBEDF5;
$primary: #6C75E1;

$menu_gray: #A9ADBC;

$text-color: #4A4A4A;
$headings-color: #4A4A4A;
$headings_light_color: #9B9B9B;

$font-size-base: 1rem;
$h3-font-size: 1rem;

$font-family-sans-serif: 'Nunito Sans',
"Helvetica Neue",
Arial,
sans-serif !default;