@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap');

@font-face {
    font-family: "GTEestiProDisplay-Regular";
    src: url("/fonts/GTEestiProDisplay-Regular.otf") format("opentype");
}

@font-face {
    font-family: "GTEestiProDisplay-Bold";
    src: url("/fonts/GTEestiProDisplay-Bold.otf") format("opentype");
}

@font-face {
    font-family: "GTEestiProDisplay-Thin";
    src: url("/fonts/GTEestiProDisplay-Thin.otf") format("opentype");
}

$ok_color: #B9C504;
$failed_color: #D0021B;
$na_color: #9B9B9B;
$na_light_color: #d8d8d8;
$na_bar_color: #EBEDF5;
$primary: #6C75E1;

$menu_gray: #A9ADBC;

$text-color: #4A4A4A;
$headings-color: #4A4A4A;
$headings_light_color: #9B9B9B;
$headings-font-family: "GTEestiProDisplay-Bold",
"Helvetica Neue",
Arial,
sans-serif !default;

$font-size-base: 1rem;
$h3-font-size: 1rem;

$font-family-sans-serif: "GTEestiProDisplay-Regular",
"Helvetica Neue",
Arial,
sans-serif !default;

$font-family-mono: "Ubuntu Mono",
monospace !default;

$font-family-thin: "GTEestiProDisplay-Thin",
"Helvetica Neue",
Arial,
sans-serif !default;

$font-family-bold: "GTEestiProDisplay-Bold",
"Helvetica Neue",
Arial,
sans-serif !default;