@import url('https://fonts.googleapis.com/css?family=Roboto');

$body-color: #565656 !default;
$primary: #0095DA;
$secondary: #BCE9FF;
$success: #7AC70C;
$info: #A560EB;
$warning: #FA811B;
$danger: #D33131;
$light: #9B9B9B;
$dark: #4A4A4A;
$background-light: #f5f5f5;
$background-dark: #000000;

$font-family-sans-serif: "Roboto", "Helvetica Neue", Arial, sans-serif !default;

$btn-padding-y: 1rem !default;
$btn-padding-x: 1.3rem !default;

$btn-padding-y-sm: .7rem !default;
$btn-padding-x-sm: 1rem !default;

$btn-padding-y-lg: 1.3rem !default;
$btn-padding-x-lg: 2rem !default;

$btn-font-weight: 700;

$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$container-top-margin: 30px;
$top-menu-height: 70px;
$button-row-height: 70px;