@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";

body {
    background-color: #f0f2fb;
    font-size: 14px;
}

main {
    min-height: 100vh;
}

h1 {
    letter-spacing: 0.12px;
    font-size: 13px;
    font-family: $font-family-thin;
    margin-bottom: 41px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

h4 {
    font-size: 10px;
    color: $headings_light_color;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 20px;
    text-transform: uppercase;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

.main_content {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.result_box {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 2px 18px 6px rgba(0, 0, 0, 0.06);
    border: 0;
}

.value_ok {
    color: $ok_color;
    font-weight: 700;
}

.value_failed {
    color: $failed_color;
    font-weight: 700;
}

.value_na {
    color: $na_color;
    font-weight: 700;
}

.color_ok {
    color: $ok_color;
}

.color_failed {
    color: $failed_color;
}

.color_na {
    color: $na_color;
}

.table th {
    border-top: none;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.clickable {
    cursor: pointer;
}

.result_box {
    margin-bottom: 50px;
}

.vjs-tree .vjs-value__string {
    color: #6c75e1 !important;
}

.numeric {
    font-family: $font-family-mono;
}

.clickable {
    cursor: pointer;
}

.break_word {
    overflow-wrap: break-word;
}

.tr {
    border-top: solid 1px #E8ECEF;
}

.tr:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.td {
    padding: 12px;
}