@import "variables";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

body {
    background-color: #F0F2FB;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 50px 0 0;
    background-color: white;
}

.examples {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    z-index: 100;
    padding: 50px 20px 20px;
    background-color: white;
    overflow: scroll;
}

.examples .divider {
    border-top: solid 1px $na_light_color;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

main {
    min-height: 100vh;
}

h3 {
    letter-spacing: 0.12px;
}

h4 {
    font-size: 10px;
    color: #9B9B9B;
    letter-spacing: 1px;
    margin-top: 50px;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

#main_content {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.result_box {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}

.value_ok {
    color: $ok_color;
    font-weight: 700;
}

.value_failed {
    color: $failed_color;
    font-weight: 700;
}

.value_na {
    color: $na_color;
    font-weight: 700;
}

.table th {
    border-top: none;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.06)
}

.clickable {
    cursor: pointer;
}

.result_box {
    margin-bottom: 50px;
}